Source: python-django-lint
Section: python
Priority: optional
Maintainer: Chris Lamb <lamby@debian.org>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: python-support
Standards-Version: 3.8.0
Vcs-Git: git://git.chris-lamb.co.uk/django-lint.git
Vcs-Browser: http://git.chris-lamb.co.uk/?p=django-lint.git

Package: python-django-lint
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, pylint, python-django (>= 1.0)
Description: Static analysis tool for Django projects and applications
 Django Lint is a tool that statically analyses projects and applications
 that use the Django web development framework.
 .
 It checks and reports on common programming errors and bad code smells
 including:
 .
  * Nullable "CharField" fields
  * Usage of brittle Django features such as "auto_now_add"
  * Unspecified recommended options in settings.py, such as an empty 'ADMINS'
  * (plus many more)
