Source: python-django-lint
Section: python
Priority: optional
Maintainer: Chris Lamb <lamby@debian.org>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: python-support
Standards-Version: 3.8.0
Vcs-Git: git://git.chris-lamb.co.uk/django-lint.git
Vcs-Browser: http://git.chris-lamb.co.uk/?p=django-lint.git

Package: python-django-lint
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-django (>= 1.0)
Description: Database migration tool for Django projects
 TODO
